html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    display: flex;
}

.container1, .footer {
    background-color: #1f2937;
    
}

.heromain {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero2nd {
    font-size: 18px;
    color: #e5e7eb;
}

li {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 15px;
}

.logo {
    font-size: 24px;
    color:#f9faf8;
}

.section5 .call {
    background-color: #3882f6;   
    border-radius: 10px;
    display: flex;
    margin: 20px;
}

.buttonfor5 {
    border-color: white;
    border-width: 2px;
    
}

.section4 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
    padding: 30px;
}

span {
    align-self: flex-end;
}

.quotetext {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

span, .quotetext {
    width: 40%;
}

.infoheader {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: auto;
    
}

.section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;  
    padding: 25px; 
    color: #f9faf8;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-basis: 500px;
}

.container1 {
    display: flex;
    flex-direction: column;
    flex: 4;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 50px;
}

.section3 {
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: center;
    padding: 100px;
}

.section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex: 2;
    border-radius: 10px;
}

.calltext>div {
    color: #f9faf8;
}

.calltoaction {
    font-weight: 800;
    font-size: 20px;
}

.buttonad, .calltext {
    padding: 50px;
}

.call {
    display: flex;
    align-items: center;
    justify-content: center;
}
.media {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 32px;
    gap: 20px;
}

.media>img {
    width: 100%;
}

.media>div {
    text-align: center;
}

.container2 {
    display: flex;
    justify-content: center;
}

.section2>img {
    width: 25%;
}

button {
    width: 100px;
    height: 30px;
    color: white;
    font-size: 16px;
    font-weight: 800;
    border-radius: 10px;
    background-color: #3882f6;   
}


